/*---------------------------------------------------- Navbar css ------------------------------------------------------*/
@media only screen and (min-width: 990px) {
    .disable_dropdown{
        display: none;
    }
    .logout_class{
        display: contents;
    }
}

@media only screen and (max-width: 990px) {
    .disable_dropdown{
      display: contents;
    }
    .logout_class{
        display: none;
    }
}

/*----------------------------------------------------- Navbar css End -------------------------------------------------------*/ 


/*----------------------------------------------------- Back to Top Start ----------------------------------------------------*/ 
.back_to_top{
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 10px;
    z-index: 2;
    visibility: hidden;
}

.back_to_top button{
    background-color: #fff;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 0;
    float:right;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0px rgb(0, 0, 0, 0.3);
}

/*----------------------------------------------------- Back to Top End -------------------------------------------------------*/ 