{% extends 'layout.html' %}
{% import 'macros.html' as m -%}
{% block title %}
Blog Lite - {{user}} Dashboard
{% endblock %}


{% block nav %}
{{ m.display_nav(user,profile_image_path) }}
{% endblock %}
{% block body %}
<div class="row row-cols-1 row-cols-md-3 g-4 m-2 p-2" style="width:99%;">
    {% for x in feed %}
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between">
                <div>
                {{x.title}}
                </div>
                <div>
                    <small class="text-muted">{{x.p_timestamp[0]}}</small>
                    <small class="text-muted">{{x.p_timestamp[1]}}</small>
                </div>
            </div>
            {% if x.post_image %}
            <img src="{{url_for('static',filename='post_images/'~x.author_name~'_'~x.title~'_'~x.post_image)}}"
                class="card-img-top rounded-0" alt="post-image">
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{x.description}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div>
                    <span><i class="bi bi-chat"></i></span>
                    <small class="text-muted">{{x.total_comments}}</small>
                </div>
                <div>
                    <span><i class="bi bi-hand-thumbs-up-fill"></i></span>
                    <small class="text-muted">{{x.total_likes}}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}