{% macro display_nav(user,profile_image_path) -%}
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Fifth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('dashboard')}}"
      style="font-family: 'Sacramento', cursive; font-size: 27px;"><strong>Blog Lite</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
      aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a class="nav-link disable_dropdown" href="{{url_for('create_post',username=user)}}">New Post</a></li>
        <li><a class="nav-link disable_dropdown" href="{{url_for('load_profile',username=user)}}">View Profile</a></li>
        <li><a class="nav-link disable_dropdown" href="{{url_for('logout')}}">Sign out</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{{url_for('search')}}" method="GET">
        <input type="search" name="search" class="form-control" placeholder="Search..." aria-label="Search"
          autocomplete="off">
      </form>
      <div class="dropdown text-end logout_class">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{url_for('static',filename='profile_images/'~user ~'_'~profile_image_path)}}" alt="profile_pic"
            width="40" height="40" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small"
          style="position: absolute; font-size: 85%; inset: 0px 4px auto auto; margin: 0px; transform: translate(0px, 34px);"
          data-popper-placement="static">
          <li><span class="dropdown-item text-muted">{{user}}</span></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{url_for('create_post',username=user)}}">New Post</a></li>
          <li><a class="dropdown-item" href="{{url_for('load_profile',username=user)}}">View Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{url_for('logout')}}">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endmacro -%}

{% macro flash_message(messages) -%}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show mt-2 mx-auto" role="alert" style="width:90% !important;">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endmacro -%}