{% extends 'layout.html' %}
{% import 'macros.html' as m -%}
{% block title %}
Blog Lite - {{profile.username}} profile
{% endblock %}


{% block nav %}
{{ m.display_nav(user,profile_image_path) }}
{% endblock %}
{% block body %}
<div class="card mb-1 h-40">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="{{url_for('static',filename='profile_images/'~profile.username~'_'~profile.profile_image)}}"
        class="img-responsive object-fit-cover" style="width: 100%; height: 100%;" alt="profile-pic">
    </div>
    <div class="col-md-9">
      <div class="card-body mt-3">
        <div class="d-flex p-3 pt-0 pb-0 justify-content-between">
          <div>
            <h4>{{profile.username}}</h4>
          </div>
          {% if user != profile.username %}
          {% if profile.username not in lu_following %}
          <a href="{{url_for('follow_action',username=user,fr_name=user,fd_name=profile.username)}}"
            class="btn btn-primary">follow</a>
          {% else %}
          <a href="{{url_for('unfollow_action',username=user,fr_name=user,fd_name=profile.username)}}"
            class="btn btn-danger">unfollow</a>
          {% endif %}
          {% else %}
          <div>
            <a role="button" href="{{url_for('edit_profile',username=user)}}" class="btn btn-info btn-sm me-2"><i
                class="bi bi-pencil-square"></i></span>
              <a role="button" href="#delete_confirmation_modal" class="btn btn-danger btn-sm" data-bs-toggle="modal"><i
                  class="bi bi-trash"></i></a>
              <!-- Delete Confirmation Modal -->
              <div class="modal fade" id="delete_confirmation_modal" tabindex="-1" role="dialog"
                aria-labelledby="DeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-danger">Delete {{profile.username}} Account</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <p>Do you want to delete your account?</p>
                      <p class="text-secondary"><small>If you delete, your data will be lost.</small></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-danger"><a
                          href="{{url_for('delete_account',username=profile.username)}}"
                          class="text-decoration-none text-white">Yes, delete my account</a></button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          {% endif %}
        </div>
        <div class="row cols-2 p-3 pt-0 pb-0 mt-4">
          <div class="col card-text">First Name</div>
          <div class="col card-text">{{profile.first_name}}</div>
        </div>
        <div class="row cols-2 p-3 pt-0 pb-0 mt-2">
          <div class="col card-text">Last Name</div>
          <div class="col card-text">{{profile.last_name}}</div>
        </div>
        <div class="card text-center border-0 text-dark mt-4">
          <div class="row row-cols-3 p-3">
            <div class="col card-text"><a href="#My_posts" class="btn btn-info" style="font-size:85%"
                onclick="loadMyPosts()">Posts</a></div>
            <div class="col card-text"><a href="#followed_section" class="btn btn-info" onclick="loadMyFollowed()"
                style="font-size:85%">Followed</a></div>
            <div class="col card-text"><a href="#followers_section" class="btn btn-info" onclick="loadMyFollowers()"
                style="font-size:85%">Followers</a></div>
            <div class="col card-text mt-2">{{profile.total_posts}}</div>
            <div class="col card-text mt-2">{{profile.following}}</div>
            <div class="col card-text mt-2">{{profile.followers_count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Profile Section Start -->
<div id="My_posts">
  {% if user_posts %}
  <div class="row row-cols-1 row-cols-md-2 g-4 m-2 p-2" style="width:99%;">
    {% for x in user_posts %}
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden border-0 rounded-4 shadow-lg"
        style="background-image: url('/static/post_images/{{x.author_name}}_{{x.title}}_{{x.post_image}}'); background-position: center center; background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-5"
          style="backdrop-filter: brightness(40%);">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="{{url_for('blog_post',p_id=x.p_id)}}"
              class="text-white text-decoration-none">{{x.title}}</a></h3>
          <ul class="d-flex list-unstyled justify-content-between">
            <li class="">
              <img src="{{url_for('static',filename='profile_images/'~x.author_name~'_'~x.author_image)}}"
                alt="Bootstrap" width="40" height="40"
                class="rounded-circle border border-secondary post-card-stats-img">
              <span class="pl-2 post-card-stats">{{x.author_name}}</span>
            </li>
            <li class="ms-1">
              <small class="post-card-stats"><i class="bi bi-calendar4-week"></i> {{x.p_timestamp[0]}}
                {{x.p_timestamp[1]}}</small>
            </li>
            <li class="ms-1">
              <small class="post-card-stats"><i class="bi bi-chat"></i><span
                  class="badgeposition-absolute top-100 start-300 translate-middle badge rounded-pill bg-danger">{{x.total_comments}}</span>
                <i class="bi bi-hand-thumbs-up-fill"></i><span
                  class="badgeposition-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{x.total_likes}}</span></small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-center mt-2"> <em>{{profile.username}} didn't create any posts yet</em> </p>
    {% endif %}
  </div>
</div>
<!-- Profile Section End -->
<!-- Followers Section Start -->
<div id="followers_section" style="display: none;">
  <div class="mx-auto my-3 p-3 bg-body rounded shadow-sm" style="width: 90%;">
    <h6 class="border-bottom pb-2 mb-0">{{profile.username}} followers</h6>
    {% if followers_objects %}
    {% for x in followers_objects %}
    <div class="d-flex text-muted pt-3">
      <div class="pb-3 mb-0 medium lh-m border-bottom w-100">
        <div class="d-flex justify-content-between">
          <div>
            <img src="{{url_for('static',filename='profile_images/'~x.username~'_'~x.profile_image)}}" alt="Bootstrap"
              width="32" height="32" class="rounded-circle">
            <strong class="text-gray-dark"><a class="text-decoration-none text-black"
                href="{{url_for('load_profile',username=x.username)}}">{{x.username}}</a></strong>
          </div>
          {% if x.username != user %}
          {% if x.username not in lu_following %}
          <a href="{{url_for('follow_action',username=user,fr_name=user,fd_name=x.username)}}"
            class="btn btn-primary">follow</a>
          {% else %}
          <a href="{{url_for('unfollow_action',username=user,fr_name=user,fd_name=x.username)}}"
            class="btn btn-danger">unfollow</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center mt-2">{{profile.username}} doesn't have any followers</div>
    {% endif %}
  </div>
</div>
</div>
<!-- Followers Section End -->
<!-- Followed By Section Start -->
<div id="followed_section" style="display: none;">
  <div class="mx-auto my-3 p-3 bg-body rounded shadow-sm" style="width: 90%;">
    <h6 class="border-bottom pb-2 mb-0">{{profile.username}} followed</h6>
    {% if followed %}
    {% for x in followed_objects %}
    <div class="d-flex text-muted pt-3">
      <div class="pb-3 mb-0 medium lh-m border-bottom w-100">
        <div class="d-flex justify-content-between">
          <div>
            <img src="{{url_for('static',filename='profile_images/'~x.username~'_'~x.profile_image)}}" alt="Bootstrap"
              width="32" height="32" class="rounded-circle">
            <strong class="text-gray-dark"><a class="text-decoration-none text-black"
                href="{{url_for('load_profile',username=x.username)}}">{{x.username}}</a></strong>
          </div>
          {% if x.username != user %}
          {% if x.username not in lu_following %}
          <a href="{{url_for('follow_action',username=user,fr_name=user,fd_name=x.username)}}"
            class="btn btn-primary">follow</a>
          {% else %}
          <a href="{{url_for('unfollow_action',username=user,fr_name=user,fd_name=x.username)}}"
            class="btn btn-danger">unfollow</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center mt-2">{{profile.username}} didn't follow anyone until now</div>
    {% endif %}
  </div>
</div>
<!-- Followed By Section End -->
<script>
  function loadMyPosts() {
    var posts = document.getElementById("My_posts");
    var followed_s = document.getElementById("followed_section");
    var follower_s = document.getElementById("followers_section");
    posts.style.display = "block";
    followed_s.style.display = "none";
    follower_s.style.display = "none";
  }

  function loadMyFollowers() {
    var posts = document.getElementById("My_posts");
    var followed_s = document.getElementById("followed_section");
    var follower_s = document.getElementById("followers_section");
    posts.style.display = "none";
    followed_s.style.display = "none";
    follower_s.style.display = "block";

  }

  function loadMyFollowed() {
    var posts = document.getElementById("My_posts");
    var followed_s = document.getElementById("followed_section");
    var follower_s = document.getElementById("followers_section");
    posts.style.display = "none";
    followed_s.style.display = "block";
    follower_s.style.display = "none";
  }
  var x = window.location.hash
  if (x === "#followed_section") {
    loadMyFollowed();
  }
  else if (x === "#followers_section") {
    loadMyFollowers();
  }
  else {
    loadMyPosts();
  }
</script>
{% endblock %}